.mobile-boss-container nav {
  width: 100vw;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--carrot-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.mob-logo img {
  width: 7rem;
}

.hamburger-menu i {
  font-size: 2rem;
}