{% extends 'staff_base.html' %}
{% load static %}

<!-- 동아리 기본 설정 (채널 기본프로필 이미지 + 현재 기수 설정)-->

{% block content %}
<div class="default-profile">
    <h2 class="staff-setting-title">동아리 기본 설정</h2>
    <div class="setting-profile-image">
        <!-- 이미지 너무 커져서 임의로 style 설정!! -->
        <img src="{{ channel.default_image.url }}" alt="채널기본프로필이미지" style="width:10rem;">
        <i class="ri-image-edit-fill profileEdit"></i>
    </div>
    <form class="gen-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {% if channel.this_level %}
                <input type="text" name="this_level" value="{{ channel.this_level }}" placeholder="현재 기수 입력" />
            {% else %}
                <input type="text" name="this_level" placeholder="현재 기수를 입력" />
            {% endif %}
            <input type="submit" value="기수 입력" />
        </div>
    </form>
    <form class="profile-setting-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <input type="file" name="default_image" accept=".jpg, .png" />
            <input type="submit" value="사진 변경" />
        </div>
    </form>
</div>
{% endblock %}