{% extends 'staff_base.html' %}
{% load static %}

<!-- 합격자 삭제 -->

{% block content %}
<div class="member-delete">
    <h2 class="staff-setting-title">회원 삭제</h2>
    <div class="member-delete-list">
        {% for passer in channelPassers %}
        <form class="delete-form" id="delete-form-{{ passer.id }}" method="post">
            {% csrf_token %}
            <div class="delete-block">
                <div>{{ passer.level }}기 {{ passer.passer_name }}</div>
                <div>
                    <input type="hidden" name="passerId" value="{{ passer.id }}">
                    <input type="button" onclick="onclickDeleteJoin('{{ passer.id }}')" value="삭제" />
                </div>
            </div>
        </form>
        {% endfor %}
    </div>
</div>
{% endblock %}