{% extends 'staff_base.html' %}
{% load static %}

<!-- 합격자 명단 추가 -->

{% block content %}
<div class="passer-gen pass">
    <h2 class="staff-setting-title">합격자 정보 입력</h2>
    <form class="passer-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="name" placeholder="이름을 입력하세요." required/>
        <input type="text" name="phone" placeholder="전화번호를 입력하세요." oninput="autoHyphen(this)" required/>
        <div>
            <input type="submit" name="keepgoing" value="저장 및 계속 추가" />
            <input type="submit" name="save" value="저장 완료" />
        </div>
    </form>
</div>

<div class="passer-list-container pass">
    <h2 class="staff-setting-title">
        {{ level }}기 합격자 목록
    </h2>
    <div class="passer-list">
        {% for passer in passers %}
        <div class="passer-block">
            <div class="passer-name">
                {{ passer.passer_name }}
            </div>
            <div class="passer-phone">
                {{ passer.passer_phone }}
            </div>
        </div>
        {% endfor %}    
    </div>
</div>

<script>
    // 합격자 리스트가 항상 가장 아래로 스크롤되게함
    window.onload = () => {
        const passerList = document.querySelector(".passer-list");
        passerList.scrollTop = passerList.scrollHeight;
        console.log(passerList.scrollTop);
    };

    //전화번호 자동 하이픈 
    const autoHyphen = (target) => {
    target.value = target.value
      .replace(/[^0-9]/g, '')
      .replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3").replace(/(\-{1,2})$/g, "");
    }
</script>
{% endblock %}