{% extends 'staff_base.html' %}
{% load static %}

<!-- 운영진 프로필 사진 변경 -->

{% block content %}
<div class="staff-profile-setting">
    <div class="setting-profile-image">
    {% if user.profile_img %}
        <img src="{{ user.profile_img.url }}" alt="프로필이미지">
        <i class="ri-image-edit-fill profileEdit"></i>
    {% else %}
        <img src="{{ channel.default_image.url }}" alt="채널기본프로필이미지">
        <i class="ri-image-edit-fill profileEdit"></i>
    {% endif %}
    </div>
    <p class="setting-profile-name">{{ level }}기 {{ user.name }}</p>
    <p class="nameCannotChange">이름은 변경할 수 없습니다</p>
    <form class="profile-setting-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    	<div>
            {% if user.profile_img %}
                <input type="submit" name="delete" value="사진 삭제" />
            {% endif %}
                <input type="file" name="profile_img" accept=".jpg, .png" />
                <input type="submit" name="change" value="사진 변경" />
        </div>
    </form>
</div>
<script>
    const profileEditButton = document.querySelector(".profileEdit");
    const profileEditForm = document.querySelector(".profile-setting-form");
    profileEditButton.onclick = () => {
        profileEditForm.classList.toggle("active");
    };
</script>
{% endblock %}