{% extends 'startBase.html' %}
{% load static %}

{% block content %}
<div class="start-container">
  <div class="start-title">
    <h1>피롯에 오신 것을</h1>
    <h1>환영합니다</h1>
  </div>
  <div class="start-form">
    <p class="lap">아직 우리 동아리 채널이 없다면 새로 개설하세요</p>
    <p class="mob">아직 우리 동아리 채널이 없다면<br>새로 개설하세요</p>
    <div class="channel-container">
      <a href="/staff/channel/create/">
        <div class="channel-create">
          채널 개설
        </div>
      </a>
    </div>
    <p class="lap">이미 동아리 채널이 존재한다면 바로 입장하세요</p>
    <p class="mob">이미 동아리 채널이 존재한다면<br>바로 입장하세요</p>
    <div class="channel-container">
      <a href="/staff/channel/code/">
        <div class="channel-code">
          채널 입장
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}