{% extends 'startBase.html' %}
{% load static %}

{% block content %}

<div class="start-container">
  <div class="channel-sent-title">
    <h1 class="lap">개설 요청이 완료되었습니다</h1>
    <h1 class="mob">개설 요청이<br>완료되었습니다</h1>
    <div class="success-checkmark">
      <div class="check-icon">
        <span class="icon-line line-tip"></span>
        <span class="icon-line line-long"></span>
        <div class="icon-circle"></div>
        <div class="icon-fix"></div>
      </div>
    </div>
    <p>요청 승인까지 최대 1시간 소요되며,</p>
    <p class="lap">승인이 완료 시 문자 메시지 알림이 전송됩니다!</p>
    <p class="mob">승인이 완료 시 문자 메시지 알림이<br>전송됩니다!</p>
  </div>
  <a href="/" class="home">메인으로</a>
</div>
{% endblock %}