{% extends 'setting_base.html' %}
{% load static %}

<!-- 프로필 사진 변경 -->
<!-- 일반회원: 프로필 사진 클릭 / 운영진: 프로필 변경 페이지로 접근 -->
{% block content %}
<div>
    <h2>프로필 설정</h2>
</div>
<div>
    {% if user.profile_img %}
        <img src="{{ user.profile_img.url }}" alt="프로필이미지">
    {% else %}
        <img src="{{ channel.default_image.url }}" alt="채널기본프로필이미지">
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
    	<div>
            {% if user.profile_img %}
                <input type="submit" name="delete" value="사진 삭제">
            {% endif %}
                <input type="file" name="profile_img" accept=".jpg, .png" \>
                <input type="submit" name="change" value="사진 변경" \>
        </div>
    <p>{{ user }}</p>
</div>
{% endblock %}