{% extends 'setting_base.html' %}
{% load static %}

<!-- 일반회원 프로필 사진 변경 -->

{% block content %}
<div class="setting-header-container">
    <div class="setting-header">
        프로필 설정
    </div>
</div>
<div class="setting-boss-container">
    <div class="setting-section-container">
        <div class="setting-grid-1">
            <div class="setting-profile-image">
                {% if user.profile_img %}
                    <img src="{{ user.profile_img.url }}" alt="프로필이미지">
                    <i class="ri-image-edit-fill profileEdit"></i>
                {% else %}
                    <img src="{{ channel.default_image.url }}" alt="채널기본프로필이미지">
                    <i class="ri-image-edit-fill profileEdit"></i>
                {% endif %}
            </div>
            <p class="setting-profile-name">{{ level }}기 {{ user.name }}</p>
            <p class="nameCannotChange">이름은 변경할 수 없습니다</p>
            <form class="profile-setting-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <input type="file" name="profile_img" accept=".jpg, .png" />
                    <input type="submit" name="change" value="사진 변경" />
                    <input type="text" name="level" value="{{ level }}" placeholder="기수 입력" required/>
                    <button type="submit">기수 설정</button>
                </div>
            </form>
        </div>
        <div class="setting-grid-2">
            <table class="setting-edit-table">
                <tr>
                    <td class="left-td"><label for="">아이디</label></td>
                    <td colspan="2"><input type="text" disabled value="{{ user.username }}"></td>
                </tr>
                <tr>
                    <td class="left-td"><label for="phone-num">전화번호</label></td>
                    <td><input type="text" name="phone-num" disabled class="setting-phone-num" value="{{ user.phone_number }}" oninput="autoHyphenPhone(this)" maxlength="13"></td>
                    <td><button type="button" id="edit-phone_num">수정</button></td>
                </tr>
                <tr>
                    <td class="edit-password" colspan="2">비밀번호 변경</td>
                    <td><button type="submit" class="btn-edit-password">변경</button></td>
                </tr>
                <tr>
                    <td class="left-td"><label for="origin-pw">기존 비밀번호</label></td>
                    <td colspan="2"><input type="password" name="origin-pw" class="origin-pw"></td>
                </tr>
                <tr>
                    <td class="left-td"><label for="new-pw">새로운 비밀번호</label></td>
                    <td colspan="2"><input type="password" name="new-pw" class="new-pw"></td>
                </tr>
            </table>
            <div class="setting-exit-table">
                <div class="main-button"><a href="/"><img class="main-button-img" src="{% static 'image/pirot_logo_long.png' %}"></a></div>
                <div class="unregister-button" onclick="onClickUnregister({{ channel.id }})"><a href="/user/unregister/"><i class="ri-logout-box-r-line"></i>회원 탈퇴하기</a></div>
        </div>
        </div>
    </div>
</div>


<script>
    const profileEditButton = document.querySelector(".profileEdit");
    const profileEditForm = document.querySelector(".profile-setting-form");
    profileEditButton.onclick = () => {
        profileEditForm.classList.toggle("active");
    };
</script>
<script src="{% static 'js/updateSetting.js' %}"></script>
<script src="{% static 'js/beforeUnregister.js' %}"></script>
{% endblock %}