{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pirot: 당신의 동아리를 위한 완벽한 커뮤니케이션</title>
  <link rel="icon" type="image/x-icon" href="{% static 'image/favicon.ico' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/58e1f810db.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="boss-container">
    <nav>
      <div class="nav-left">
        <div class="nav-left-item">
          <a href="/"><img src="{% static 'image/pirot_logo_long.png' %}"></a>
        </div>
        <div class="nav-left-item" id="service">
          서비스 소개
        </div>
        <div class="nav-left-item" id="creator">
          만든 사람들
        </div>
      </div>
      
      <div class="nav-right">
        <!-- 로그인이 된 경우 -->
        {% if user.is_authenticated %} 
          <!-- 그 중 가입된 첫 번째 채널이 없는 경우 -->
          {% if myJoinInfo.first == None %}
          <div id="start" class="nav-right-item login-btn">
            <a href="/staff/channel/">
              <input type="button" value="시작하기">
            </a>
          </div>
          <!-- 첫 번째 채널이 있는 경우 -->
          {% else %}
          <div id="start" class="nav-right-item login-btn">
            <a href="/staff/channel/">
              <input type="button" value="새 채널 참여하기">
            </a>
          </div>
          <a href="/room/{{ myJoinInfo.first.passer.channel.id }}/friends/">
            <div id="enter" class="nav-right-item login-btn">
              채팅방 들어가기
            </div>
          </a>
          {% endif %}
        <!-- 로그인이 안 된 경우 -->
        {% else %}
        <div id="login" class="nav-right-item login-btn">
          로그인
        </div>
        {% endif %}

        {% if user.is_authenticated %} 
        <div id="signupAndLogout" class="nav-right-item signup-btn">
          로그아웃
        </div>
        {% else %}
        <div id="signupAndLogout" class="nav-right-item signup-btn">
          회원가입
        </div>
        {% endif %}
      </div>
      <div class="nav-right-mobile">
        <i class="fa-solid fa-bars"></i>
      </div>  
      <div class="nav-right-mobile-menu">
        <!-- 로그인이 된 경우 -->
        {% if user.is_authenticated %} 
        <!-- 그 중 가입된 첫 번째 채널이 없는 경우 -->
        {% if myJoinInfo.first == None %}
        <div id="start" class="nav-right-item login-btn">
          <a href="/staff/channel/">
            <input type="button" value="시작하기">
          </a>
        </div>
        <!-- 첫 번째 채널이 있는 경우 -->
        {% else %}
        <div id="start" class="nav-right-item login-btn tablet-length">
          <a href="/staff/channel/">
            <input type="button" value="새 채널 참여하기">
          </a>
        </div>
        <a href="/room/{{ myJoinInfo.first.passer.channel.id }}/friends/">
          <div id="enter" class="nav-right-item login-btn">
            채팅방 들어가기
          </div>
        </a>
        {% endif %}
        <!-- 로그인이 안 된 경우 -->
        {% else %}
        <div id="login" class="nav-right-item login-btn">
          로그인
        </div>
        {% endif %}

        {% if user.is_authenticated %}
        <div><a href="/user/logout/">로그아웃</a></div>
        {% else %}
        <div><a href="/user/signup/">회원가입</a></div>
        {% endif %}
      </div>
    </nav>
    <div>

    </div>
    <main>
      <section class="main-section">
        <div class="main-section-container">
          <div class="main-section-left">
            <div class="main-section-title">
              <span>우리 동아리만의 커뮤니케이션</span>
              <span><a class="orange-link" href="#">피롯</a>으로</span>
              <span>완벽히</span>
            </div>
            <div class="main-section-demo">
              <img src="{% static 'image/pirot_demo.png' %}" alt="서비스메인이미지">
            </div>
          </div>
          <div class="main-section-right">
            <div class="main-section-team">
              <img src="{% static 'image/pirot_team.png' %}" alt="팀피롯 단체 사진">
              <div class="main-section-team-text">
                <span>안녕하세요 팀 피롯입니다</span> <br>
                동아리용 채팅 서비스가 필요하세요? <br>
                <a class="orange-link start-btn" href="/user/signup/">
                  <span>바로 시작해보세요</span>
                </a> 🥕
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="main-section-mobile">
        <div class="main-section-mobile-container">
          <div class="main-section-mobile-title">
            <div>우리 동아리만의 커뮤니케이션</div>
            <div><a class="orange-link" href="#">피롯</a>으로</div>
            <div>완벽히 <img src="{% static 'image/pirot_logo_carrot.png' %}" alt="서비스메인이미지"></div>
          </div>
        </div>
        <div class="main-section-demo">
          <img src="{% static 'image/pirot_demo.png' %}" alt="서비스메인이미지">
        </div>
      </section>
      <section class="main-section-team-mobile">
        <div class="main-section-team">
          <img src="{% static 'image/pirot_team.png' %}" alt="팀피롯 단체 사진">
          <div class="main-section-team-text">
            <span>안녕하세요 팀 피롯입니다</span> <br>
            동아리용 채팅 서비스가 필요하세요? <br>
            <a class="orange-link start-btn" href="/user/signup/">
              <span>바로 시작해보세요</span>
            </a> 🥕
          </div>
        </div>
      </section>

      <section class="ui-section">
        <div class="ui-section-container animate">
          <div class="ui-section-text">
            <div class="ui-section-title">
              핵심만 담은 UI
            </div>
            <div class="ui-section-desc">
              온전히 필요한 기능만으로 깔끔하게.
            </div>
          </div>
          <div class="ui-section-demo">
            <img src="{% static 'image/pirot_demo.png' %}" alt="서비스UI이미지">
          </div>
        </div>
      </section>
      <section class="md-section">
        <div class="md-section-container animate">
          <div class="md-section-text">
            <div class="md-section-title">
              <i class="fa-brands fa-markdown"></i>
              마크다운 문법,
            </div>
            <div class="md-section-title">
              <i class="fa-solid fa-code"></i>
              코드스니펫 지원
            </div>
            <div class="md-section-desc">
              코드는 보기 편해야하니까.
            </div>
          </div>
          <div class="md-section-demo">
            <img src="{% static 'image/pirot_demo.png' %}" alt="서비스마크다운이미지">
          </div>
        </div>
      </section>
      <section class="md-section-small">
        <div class="md-section-small-container animate">
          <div class="md-section-small-text">
            <div class="md-section-small-title">
              <div>마크다운 문법,</div>
              <div> 코드스니펫 지원</div>
            </div>
            <div class="md-section-small-desc">
              코드는 보기 편해야하니까.
            </div>
          </div>
          <div class="md-section-small-demo">
            <img src="{% static 'image/pirot_demo.png' %}" alt="서비스마크다운이미지">
          </div>
        </div>
      </section>
      <section class="md-section2">
        <div class="md-section-container animate">
          <div class="md-section-demo">
            <img src="{% static 'image/pirot_demo.png' %}" alt="서비스마크다운이미지">
          </div>
          <div class="md-section-text2">
            <div class="md-section-title2">
              채팅 게시판
            </div>
            <div class="md-section-content">
              더이상 묻히는 공지는 없어
            </div>
            <div class="md-section-content">
              배고파도
            </div>
          </div>
        </div>
      </section>
      <section class="md-section2-small">
        <div class="md-section-container animate">
          <div class="md-section2-small-text">
            <div class="md-section2-small-title">
              채팅 게시판
            </div>
            <div class="md-section2-content">
              더이상 묻히는 공지는 없어
            </div>
            <div class="md-section2-content">
              배고파도
            </div>
          </div>
          <div class="md-section-demo-small">
            <img src="{% static 'image/pirot_demo2.png' %}" alt="서비스마크다운이미지">
          </div>
        </div>
      </section>

      <!-- <section class="md-people">
        <div class="md-people-container animate">
          <div class="people-header">
            <div id="people-header1">피롯</div>
            <div id="people-header2">을 만든 사람들</div>
          </div> -->

      <section class="developers-section">
        <div class="dev-section-container animate">
          <div class="developers-section-title">
            만든 사람들
          </div>
          <div class="swiper">
            <div class="swiper-wrapper">
  
              <div class="swiper-slide card" >
                <div class="image-content">
                  <div class="card-image">
                    <img src="{% static 'image/developers/wonchae.jpeg' %}" alt="개발자양원채" class="card-img">
                  </div>
                </div>
                <div class="card-content">
                  <h2>양원채</h2>
                  <p>백엔드 / 팀장</p>
                </div>
              </div>
  
              <div class="swiper-slide card" >
                <div class="image-content">
                  <div class="card-image">
                    <img src="{% static 'image/developers/seokryu.jpeg' %}" alt="개발자양원채" class="card-img">
                  </div>
                </div>
                <div class="card-content">
                  <h2>박석류</h2>
                  <p>프론트엔드</p>
                </div>
              </div>
  
              <div class="swiper-slide card" >
                <div class="image-content">
                  <div class="card-image">
                    <img src="{% static 'image/developers/sunwoo.jpeg' %}" alt="개발자양원채" class="card-img">
                  </div>
                </div>
                <div class="card-content">
                  <h2>김선우</h2>
                  <p>프론트엔드</p>
                </div>
              </div>
  
              <div class="swiper-slide card" >
                <div class="image-content">
                  <div class="card-image">
                    <img src="{% static 'image/developers/wonchae.jpeg' %}" alt="개발자양원채" class="card-img">
                  </div>
                </div>
                <div class="card-content">
                  <h2>정혜인</h2>
                  <p>백엔드</p>
                </div>
              </div>
  
              <div class="swiper-slide card" >
                <div class="image-content">
                  <div class="card-image">
                    <img src="{% static 'image/developers/minseo.jpeg' %}" alt="개발자양원채" class="card-img">
                  </div>
                </div>
                <div class="card-content">
                  <h2>장민서</h2>
                  <p>백엔드</p>
                </div>
              </div>
  
              <div class="swiper-slide card" >
                <div class="image-content">
                  <div class="card-image">
                    <img src="{% static 'image/developers/wonchae.jpeg' %}" alt="개발자양원채" class="card-img">
                  </div>
                </div>
                <div class="card-content">
                  <h2>양원채</h2>
                  <p>백엔드 / 팀장</p>
                </div>
              </div>
  
              <div class="swiper-slide card" >
                <div class="image-content">
                  <div class="card-image">
                    <img src="{% static 'image/developers/seokryu.jpeg' %}" alt="개발자양원채" class="card-img">
                  </div>
                </div>
                <div class="card-content">
                  <h2>박석류</h2>
                  <p>프론트엔드</p>
                </div>
              </div>
  
              <div class="swiper-slide card" >
                <div class="image-content">
                  <div class="card-image">
                    <img src="{% static 'image/developers/sunwoo.jpeg' %}" alt="개발자양원채" class="card-img">
                  </div>
                </div>
                <div class="card-content">
                  <h2>김선우</h2>
                  <p>프론트엔드</p>
                </div>
              </div>
  
              <div class="swiper-slide card" >
                <div class="image-content">
                  <div class="card-image">
                    <img src="{% static 'image/developers/wonchae.jpeg' %}" alt="개발자양원채" class="card-img">
                  </div>
                </div>
                <div class="card-content">
                  <h2>정혜인</h2>
                  <p>백엔드</p>
                </div>
              </div>
  
              <div class="swiper-slide card" >
                <div class="image-content">
                  <div class="card-image">
                    <img src="{% static 'image/developers/minseo.jpeg' %}" alt="개발자양원채" class="card-img">
                  </div>
                </div>
                <div class="card-content">
                  <h2>장민서</h2>
                  <p>백엔드</p>
                </div>
              </div>
  
              <div class="swiper-slide card" >
                <div class="image-content">
                  <div class="card-image">
                    <img src="{% static 'image/developers/wonchae.jpeg' %}" alt="개발자양원채" class="card-img">
                  </div>
                </div>
                <div class="card-content">
                  <h2>양원채</h2>
                  <p>백엔드 / 팀장</p>
                </div>
              </div>
  
              <div class="swiper-slide card" >
                <div class="image-content">
                  <div class="card-image">
                    <img src="{% static 'image/developers/seokryu.jpeg' %}" alt="개발자양원채" class="card-img">
                  </div>
                </div>
                <div class="card-content">
                  <h2>박석류</h2>
                  <p>프론트엔드</p>
                </div>
              </div>
  
              <div class="swiper-slide card" >
                <div class="image-content">
                  <div class="card-image">
                    <img src="{% static 'image/developers/sunwoo.jpeg' %}" alt="개발자양원채" class="card-img">
                  </div>
                </div>
                <div class="card-content">
                  <h2>김선우</h2>
                  <p>프론트엔드</p>
                </div>
              </div>
  
              <div class="swiper-slide card" >
                <div class="image-content">
                  <div class="card-image">
                    <img src="{% static 'image/developers/wonchae.jpeg' %}" alt="개발자양원채" class="card-img">
                  </div>
                </div>
                <div class="card-content">
                  <h2>정혜인</h2>
                  <p>백엔드</p>
                </div>
              </div>
  
              <div class="swiper-slide card" >
                <div class="image-content">
                  <div class="card-image">
                    <img src="{% static 'image/developers/minseo.jpeg' %}" alt="개발자양원채" class="card-img">
                  </div>
                </div>
                <div class="card-content">
                  <h2>장민서</h2>
                  <p>백엔드</p>
                </div>
              </div>
  
            </div> 
          </div>
        </div>
        
      </section>
      
    </main>
    <footer>
      <div id="footer-left">
        <div>주식회사 피롯 | 대표 양원채</div>
        <div>사업자등록번호 : 없어요~</div>
      </div>
      <div id="footer-center">
        <div>All Rights Reserved.</div>
        <div>Since 2023</div>
      </div>
      <div id="footer-right">
	      <div id="footer-right-img"><img src="{% static 'image/vlogo.png' %}" alt=""></div>
      </div>
    </footer>
  </div>

  <dialog class="modal" id="loginModal">
    <div class="modal-content">
      <i id="close-btn" class="ri-close-fill"></i>
      <div class="modal-logo">
        <img src="{% static 'image/pirot_logo_long.png' %}" alt="피롯로고">
      </div>
      <div class="login-form">
        <form action="/user/login/" method="post">
          {% csrf_token %}
          <div class="email-label">아이디</div>
          <input type="text" placeholder="아이디를 입력하세요" name="username">
          <div class="password-label">비밀번호</div>
          <input type="password" placeholder="비밀번호를 입력하세요" name="password">
          <input type="submit" value="로그인">
        </form>
      </div>
      <div class="signup-sentence">
        <p>피롯이 처음이신가요?<a href="/user/signup/"> &nbsp회원가입</a></p>
      </div>
    </div>
  </dialog>
  <dialog class="modal" id="signupModal">
    <div class="modal-content">
      <i id="close-btn" class="ri-close-fill"></i>
      <div class="modal-logo">
        <img src="{% static 'image/pirot_logo_long.png' %}" alt="피롯로고">
      </div>
      <div class="signup-text">
        <p>피롯 계정이 없으신가요?</p>
        <p>빠르게 가입해보세요!</p>
      </div>
      <div class="signup-modal-form">
        <a href="/user/signup/"><input type="button" value="회원가입하기"></a>
      </div>
    </div>
  </dialog>

  <script src="{% static 'js/index.js' %}"></script>
  <script>
    //'채팅방 들어가기' 버튼, '로그인' 버튼 인 경우 경로 다르게 설정하는 코드
    const multiPurposeButton = document.querySelector(".login-btn");
    if (multiPurposeButton.id === "enter") {
      multiPurposeButton.addEventListener("click", () => {
        location.href = '/room/{{ myJoinInfo.first.passer.channel.id }}/main/';
      });
    }
    else if (multiPurposeButton.id === "login") {
      multiPurposeButton.addEventListener("click", () => {
        if ("{{ user }}" !== 'AnonymousUser') {
          location.href = '/room/{{ myJoinInfo.first.passer.channel.id }}/main/';
        }
        else {
          loginModal.showModal();
          loginModal.style.opacity = '1';
        }
      });
    };
    loginModal.style.opacity = '0';

  </script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script>
    var swiper = new Swiper('.swiper', {
      effect: 'coverflow',
      spaceBetween: 48,
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 0,
        stretch: 10,
        depth: 100,
        modifier: 2,
        slideShadows: true,
      },
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      loop: true,
    });
  </script>
</body>

</html>
