{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pirot</title>
    <link rel="icon" type="image/x-icon" href="{% static 'image/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script src="https://kit.fontawesome.com/bee9aa6983.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <section class="icon-bar">
            <div class="top-icons">
                <img src="{% static 'image/chat_room/group_clicked.png' %}" alt="친구아이콘">
                <img src="{% static 'image/chat_room/chat.png' %}" alt="채팅아이콘">
            </div>
            <div class="bottom-icons">
                <img src="{% static 'image/chat_room/setting.png' %}" alt="설정아이콘">
                <img class="profile-icon" src="{% static 'image/chat_room/임시프로필사진.png' %}" alt="프로필">
            </div>
        </section>
        <section class="setting-section">
            {% block content %}
            {% endblock %}    
        </section>
    </div>      
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    {% block extra %}
    {% endblock %}
    <script src="{% static 'js/base.js' %}"></script>
</body>
</body>
</html>