{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pirot: 당신의 동아리를 위한 완벽한 커뮤니케이션</title>
  <link rel="icon" type="image/x-icon" href="{% static 'image/favicon.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/start.css' %}">
  <script src="https://kit.fontawesome.com/bee9aa6983.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
  <div class="boss-container">
    <nav>
      <div class="nav-left">
        <div class="nav-left-item">
          <a href="/"><img src="{% static 'image/pirot_logo_long.png' %}"></a>
        </div>
      </div>
      <div class="nav-right">
      </div>
    </nav>

    <main>
      {% block content %}
      {% endblock %}
    </main>


  <script src="{% static 'js/index.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>