@import 'style.css';
@import 'room.css';
@import 'roomModal.css';
@import 'friendly.css';

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* icon bar */

.icon-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 4rem;
  background-color: var(--light-gray);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.icon-bar i {
  font-size: 2rem;
}

.top-icons,
.bottom-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-icons > a {
  margin-bottom: 5rem;
}

.bottom-icons > a {
  margin-top: 5rem;
}

.top-icons > a,
.bottom-icons > i {
  border-radius: 50%;
  padding: 0.3rem;
  transition: 0.2s;
}

.top-icons > a:hover,
.bottom-icons > i:hover {
  background-color: rgb(219, 219, 219);
}

.friend-icon {
  position: relative;
  top: -0.1rem;
}

.profile-icon {
  border: 1px solid black;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
}



/* middle section */

.middle-section {
  width: 20rem;
  /* background-color: blue; */
  padding-left: 1.7rem;
}

.middle-section-content {
  /* background-color: green; */
  height: calc(100vh - 6rem);
}

.middle-section > .search-box {
  height: 6rem;
  /* background-color: pink; */
  display: flex;
  align-items: center;
  position: relative;
}

.search-box > .channel-name {
  font-size: 1.7rem;
  letter-spacing: 0.3rem;
  z-index: 3333;
}

.channel-name-select {
  width: 11rem;
  box-sizing: border-box;
  position: relative;
}

.select-btn {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.8rem;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 0.2rem;
}

.select-btn:hover {
  background-color: rgba(128, 128, 128, 0.081);
}

.select-btn.color-stay {
  background-color: rgba(128, 128, 128, 0.081);
}

/* .select-options {
  list-style: none;
  padding-left: 0;
  background-color: beige;
  padding: 0.5rem;
  border-radius: 0.2rem;
} */

.select-options {
  display: none;
  background-color: rgba(246, 244, 244, 0.925);
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 3.4rem;
  padding: 0;
  border-radius: 0.2rem
}

.select-options.active {
  display: block;
}

.channel-option {
  transition: 0.2s;
  padding: 0.6rem 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.channel-option:hover {
background-color: #f3b95431;
}

.search-box > input {
  outline: none;
  width: 11rem;
  height: 2.5rem;
  background-color: var(--input-background);
  border-radius: 2rem;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 999999;
}

.search-box > input:focus {
  border: 2px solid var(--carrot-light);
}

.search-box > #channel-name,
.search-box > input {
  position: absolute;
  transition: opacity 0.5s;
}

.search-box > i {
  font-size: 1.7rem;
  position: absolute;
  right: 4rem;
  cursor: pointer;
}

.middle-section > .logged-in-user {
  height: 5rem;
  /* background-color: red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.4rem;
}

.logged-in-user > img {
  width: 3.5rem;
  margin-right: 1.5rem;
}

.friends {
  background-color: blue;
  height: calc(100vh - 11rem);
}


/* chat section */

.chat-section {
  width: calc(100vw - 24rem);
}

.chat-name {
  height: 6rem;
  /* background-color: yellow; */
}

.chat-container {
  display: flex;
  height: calc(100vh - 6rem);
}

.chat-container .chat-conversation-container {
  display: flex;
  flex-direction: column;
}

.conversation {
  width: calc(100vw - 42rem);
  height: calc(100vh - 6rem);
  background-color: slateblue;
  overflow-x: hidden;
  overflow-y: scroll;
}

.board {
  width: 18rem;
  height: calc(100vh - 6rem);
  background-color: aqua;
}
