.setting-section {
  width: 100%;
  background-color: pink;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.setting-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
}

.setting-section-container h2 {
  font-size: 3.5rem;
}

.setting-profile-image {
  border: 2px solid black;
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  margin-top: 3rem;
}