.modal::backdrop {
  background: gray;
  opacity: 0.4;
}

dialog {
  background-color: var(--modal-bgclr);
  color: var(--alt-fontclr);
}

.modal {
  width: 30rem;
  height: 36rem;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
  0 2px 2px rgba(0,0,0,0.15), 
  0 4px 4px rgba(0,0,0,0.15), 
  0 8px 8px rgba(0,0,0,0.15);
  padding: 3rem;
  opacity: 0;
}

.modal #close-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2rem;
  color: var(--subtitle);
  transition: 0.2s;
  cursor: pointer;
  z-index: 9999;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.modal-content > i#back-btn {
  position: absolute;
  left: -1rem;
  top: 1rem;
  font-size: 2rem;
  color: var(--subtitle);
  transition: 0.2s;
  cursor: pointer;
}

.modal-content > i#back-btn:hover,
.modal #close-btn:hover {
  color: gray;
}

dialog {
  transition: 0.3s;
}

/* .room-add-name {
  display: none;
} */

.room-add-invite,
.room-add-name {
  position: absolute;
  left:2rem;
  right: 2rem;
  top: 0;
}

.room-add-invite {
  z-index: 0;
  opacity: 1;
  transition: 0.2s;
}

.room-add-name {
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}


/* room 모달 내 대화상대초대창 */

.modal-content .title {
  font-size: 2rem;
}

.modal-content input[type=text]:not(#nickname) {
  margin-top: 1rem;
  outline: 0;
  border: 2px solid var(--modal-bgclr);
  height: 3rem;
  background-color: var(--carrot-super-light);
  width: 70%;
  padding: 0 1.2rem;
  border-radius: 1.5rem;
  font-size: 1rem;
  transition: 0.2s;
  caret-color: var(--alt-fontclr);
  color: var(--alt-fontclr);
}

.modal-content input[type=text]::placeholder {
  color: var(--placeholder);
}

.modal-content input[type=text]:focus {
  border: 2px solid var(--carrot-color);
}

.invite-list {
  margin-top: 1rem;
  height: 15rem;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 70%;
}

.invite-list .invite-new-hidden {
  display: none;
}

.invite-list li {
  padding: 0 1rem;
  border-radius: 1rem;
  transition: 0.2s;
}

.invite-list li:hover {
  background-color: var(--carrot-super-light);
}

.invite-list .btn-friend-profile-img {
  border: 1px solid var(--font-color);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.invite-list .btn-friend {
  position: relative;
}

.modal-content .btn-invite-member,
.modal-content .btn-create-group {
  margin-top: 1rem;
  background-color: var(--carrot-color);
  border: 0;
  border-radius: 1.5rem;
  /* font-weight: 700; */
  transition: 0.2s;
  color: white;
  height: 2.5rem;
  width: 5rem;
  cursor: pointer;
  transition: 0.2s;
  font-size: 1rem;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.modal-content .btn-invite-member:hover,
.modal-content .btn-create-group:hover {
  background-color: var(--carrot-dark);
}



/* room 모달 내 채팅방이름설정창 */

.room-add-name .title {
  margin-bottom: 1rem;
}

.anonymous-toggle {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.anonymous-toggle p {
  margin-bottom: 1rem;
}

.anonymous-toggle .checkbox-wrapper-22 {
  text-align: center;
}

.room-add-name .btn-create-group {
  width: 7rem;
}


/* 체크박스 css */

.checkbox {
  position: absolute;
  right: 0;
}

.checkbox-wrapper-30 .checkbox {
  --bg: #fff;
  --brdr: #d1d6ee;
  --brdr-actv: var(--carrot-color);
  --brdr-hovr: var(--carrot-light);
  --dur: calc((var(--size, 2)/2) * 0.6s);
  display: inline-block;
  width: calc(var(--size, 1) * 22px);
  position: relative;
}
.checkbox-wrapper-30 .checkbox:after {
  content: "";
  width: 100%;
  padding-top: 100%;
  display: block;
}
.checkbox-wrapper-30 .checkbox > * {
  position: absolute;
}
.checkbox-wrapper-30 .checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
/* background-color: var(--bg); */
  border-radius: calc(var(--size, 1) * 4px);
  border: calc(var(--newBrdr, var(--size, 1)) * 1px) solid;
  color: var(--newBrdrClr, var(--brdr));
  outline: none;
  margin: 0;
  padding: 0;
  transition: all calc(var(--dur) / 3) linear;
}
.checkbox-wrapper-30 .checkbox input:hover,
.checkbox-wrapper-30 .checkbox input:checked {
  --newBrdr: calc(var(--size, 1) * 2);
}
.checkbox-wrapper-30 .checkbox input:hover {
  --newBrdrClr: var(--brdr-hovr);
}
.checkbox-wrapper-30 .checkbox input:checked {
  --newBrdrClr: var(--brdr-actv);
  transition-delay: calc(var(--dur) /1.3);
}
.checkbox-wrapper-30 .checkbox input:checked + svg {
  --dashArray: 16 93;
  --dashOffset: 109;
}
.checkbox-wrapper-30 .checkbox svg {
  fill: none;
  left: 0;
  pointer-events: none;
  stroke: var(--stroke, var(--border-active));
  stroke-dasharray: var(--dashArray, 93);
  stroke-dashoffset: var(--dashOffset, 94);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  top: 0;
  transition: stroke-dasharray var(--dur), stroke-dashoffset var(--dur);
}
.checkbox-wrapper-30 .checkbox svg,
.checkbox-wrapper-30 .checkbox input {
  display: block;
  height: 100%;
  width: 100%;
}


/* 토글 체크박스 */

.checkbox-wrapper-22 .switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.checkbox-wrapper-22 .switch input {
  display: none;
}

.checkbox-wrapper-22 .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.checkbox-wrapper-22 .slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

.checkbox-wrapper-22 input:checked + .slider {
  background-color: var(--carrot-light);
}

.checkbox-wrapper-22 input:checked + .slider:before {
  transform: translateX(26px);
}

.checkbox-wrapper-22 .slider.round {
  border-radius: 34px;
}

.checkbox-wrapper-22 .slider.round:before {
  border-radius: 50%;
}



/* 전체 설정 모달 */

.theme-select {
  margin-top: 2rem;
}

.theme-select,
.alarm-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--carrot-super-light);
  padding: 1rem 0;
  border-radius: 1rem;
}

.theme-title,
.alarm-title {
  font-size: 1.5rem;
}

.theme-modes {
  display: flex;
  margin-top: 2rem;
  width: 100%;
  justify-content: space-around;
}

.theme-modes .checkbox-wrapper-13 {
  display: flex;
  align-items: center;
}

.alarm-select {
  margin-top: 3rem;
}

.alarm-toggle {
  margin-top: 2rem;
}

#settings-save {
  margin-top: 2rem;
  background-color: var(--carrot-color);
  border: none;
  outline: 0;
  border-radius: 1.5rem;
  /* font-weight: 700; */
  transition: 0.2s;
  color: white;
  height: 2.5rem;
  width: 8rem;
  cursor: pointer;
  transition: 0.2s;
  font-size: 1rem;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#settings-save:hover {
  background-color: var(--carrot-dark);
}

#settings-logout {
  display: block;
  font-size: 1.2rem;
  margin-top: 2rem;
  transition: 0.2s;
  padding: 0.4rem 0.6rem;
  border-radius: 1rem;
  color: var(--alt-fontclr);
}

#settings-logout:hover {
  background-color: var(--icon-hover);
}

/* 채팅 방 나가기 */

.chat-settings-modal .btn-exit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 1.5rem;
  background-color: transparent;
  border: none;
  outline: 0;
  border-radius: 1.5rem;
  transition: 0.2s;
  color: var(--alt-fontclr);
  height: 2.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.chat-settings-modal .btn-exit:hover {
  background-color: var(--icon-hover);
}

.chat-settings-modal .btn-exit > i {
  margin-right: 0.5rem;
}

/* 테마선택 체크박스 */

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .checkbox-wrapper-13 input[type=checkbox] {
    --active: var(--carrot-color);
    --active-inner: #fff;
    /* --focus: 2px var(--carrot-dark); */
    --border: #BBC1E1;
    --border-hover: var(--carrot-light);
    --background: #fff; 
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  .checkbox-wrapper-13 input[type=checkbox]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  .checkbox-wrapper-13 input[type=checkbox]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  .checkbox-wrapper-13 input[type=checkbox]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  .checkbox-wrapper-13 input[type=checkbox]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  .checkbox-wrapper-13 input[type=checkbox]:disabled + label {
    cursor: not-allowed;
  }
  .checkbox-wrapper-13 input[type=checkbox]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  .checkbox-wrapper-13 input[type=checkbox]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
    width: 21px;
  }
  .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
    opacity: var(--o, 0);
  }
  .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
    --o: 1;
  }
  .checkbox-wrapper-13 input[type=checkbox] + label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 4px;
  }

  .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
    border-radius: 7px;
  }
  .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }
}

.checkbox-wrapper-13 * {
  box-sizing: inherit;
}
.checkbox-wrapper-13 *:before,
.checkbox-wrapper-13 *:after {
  box-sizing: inherit;
}



/* 채팅방 설정 */
.blind-profile-form {
  position: relative;
}

.blind-profile-setting {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.blind-profile-img{
  border: 1px solid var(--alt-fontclr);
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.blind-profile-img > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
#upload_blind_img {
  position: absolute;
  visibility: hidden;
}

/* #blindChangeProfileBtn {
  position: absolute;
  display: none;
  bottom: 0;
} */


.blind-name {
  text-align: center;
  position: relative;
}

.blind-name i {
  position: absolute;
  right: -1.2rem;
  bottom: 0.9em;
}

#nickname {
  text-align: center;
  color: var(--alt-fontclr);
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--alt-fontclr);
  border-radius: 0;
  width: 10rem;
  outline: 0;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  padding: 0.6rem;
}

#nickname:focus {
  outline: 0;
  border: 0;
  border-bottom: 1px solid var(--alt-fontclr);
}


/* no-user-modal */
.no-user-modal .no-user-pirot {
  color: var(--carrot-color);
  font-weight: 800;
  font-size: 1.5rem;
  padding: 0 0.5rem;
}
.no-user-modal .modal-content {
  font-family: 'GowunBatang-Regular';
}
.no-user-modal .title {
  margin-bottom: 1rem;
}
.no-user-modal .title-desc {
  font-size: 1rem;
  margin-bottom: 2rem;
}
.no-user-modal .no-user-phone {
  margin-bottom: 2rem;
  text-align: center;
}
.no-user-modal .no-user-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.no-user-modal .no-user-desc1,
.no-user-modal .no-user-desc2 {
  margin-bottom: 1rem;
}