.bubble-notice {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble-notice .bubble-notice-container {
    width: 20rem;
    border-radius: 5rem;
    background-color: var(--body-bgclr);
    padding: 0.3rem;
    font-size: 0.5rem;
    text-align: center;
    color: var(--alt-fontclr);
    margin-top: 0.3rem;
}

.bubble-notice .bubble-notice-content {
    line-height: 1rem;
    padding: 0 1rem;
}

.bubble-box,
.bubble-box-me {
    display: block;
}

.bubble-box {
    margin-left: 0.4rem;
}

.bubble-box-me {
    text-align: right;
    margin-right: 0.4rem;
}

.bubble-box .bubble-header {
    display: flex;
    align-items: center;
}

.bubble-header .bubble-profile-img {
    border: 1px solid var(--font-color);
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
}

.bubble-box .bubble-content-container,
.bubble-box-me .bubble-content-container {
    display: flex;
    align-items: flex-end;
}

.bubble-box .bubble-content-container {
    justify-content: flex-start;
}

.bubble-box-me .bubble-content-container {
    justify-content: flex-end;
}

.bubble-content-container .bubble-time {
    padding: 0 0.5rem;
    font-size: 0.7rem;
}

.bubble-container-me,
.bubble-container {
    display: inline-flex;
    flex-direction: column;
    padding: 0.3rem 0.7rem;
    min-width: 70%;
}

.bubble-container .bubble-user-container {
    display: inline-flex;
}

.bubble-container-me .bubble-header,
.bubble-container .bubble-header {
    margin: 1rem 0 0.5rem;
}

.bubble-container-me .bubble-username,
.bubble-container .bubble-username {
    padding: 0 0.5rem;
}

.bubble-container-me .bubble-content,
.bubble-container .bubble-content {
    padding: 0.7rem 0.7rem;
    max-width: 70%;
    white-space: pre-wrap;
}

.bubble-container-me .bubble-content {
    border-radius: 1rem 0 1rem 1rem;
    background-color: var(--carrot-color);
    color: var(--alt-fontclr);
    text-align: left;
}

.bubble-container .bubble-content {
    border: 0.1rem solid var(--opp-bubble-bdclr);
    background-color: var(--opp-bubble-bgclr);
    border-radius: 0 1rem 1rem 1rem;
}



/* 채팅 방 리스트 */

.btn-room-container .room-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 7rem;
    line-height: 2rem;
}

.btn-room-container a {
    display: block;
    padding: 0.7rem 1.5rem 0.7rem 0.3rem;
    margin-left: 2.6rem;
    transition: 0.2s;
    /* border-bottom: 1px solid #face8331; */
    position: relative;
    border-radius: 1rem;
}

.btn-room-container a:hover {
    background-color: var(--carrot-super-light);
}

.btn-room-list .room-hidden {
    display: none;
}


/* 익명채팅방 아이콘 */
.blind a::after {
    content: '';
    display: block;
    background: url('../image/chat_room/mask.png');
    background-size: 1.5rem 1rem;
    width: 1.5rem;
    height: 1rem;
    position: absolute;
    left: -1.9rem;
    top: 1.4rem;
}

/* 단체채팅방 아이콘 */
.group a::after {
    content: '';
    display: block;
    background: url('../image/chat_room/group_room2.png');
    background-size: 1rem 1rem;
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: -1.7rem;
    top: 1.4rem;
}

.middle-section-content .btn-room {
    display: flex;
    align-items: center;
    position: relative;
}

.btn-room .room-profile-img {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid var(--font-color);
    border-radius: 50%;
    margin-right: 0.8rem;
}

.room-name {
    color: var(--font-color);
}

.middle-section-content .room-red-dot {
    position: absolute;
    right: 0;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 83, 83);
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    padding-top: 0.1rem;
    color: white;
    margin-right: 2rem;
    font-size: 0.8rem;
}

.middle-section-content .selected-room {
    background-color: var(--carrot-super-light-dark);
}

.btn-room-create {
    width: 100%;
    height: 6rem;
    padding: 1.4rem;
}

.btn-room-create-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--carrot-super-light);
    border-radius: 1rem;
    transition: 0.2s;
}

.btn-room-create-container:hover {
    background-color: var(--carrot-super-light-dark);
}

.middle-section-content ol {
    height: 100%;
}

.btn-room-create-container > i {
    font-size: 1.5rem;
}

/* 친구 리스트 */

.friend-list-me-container {
    height: 4rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.friend-list-me-container > .friend-list-me-profile-img {
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--font-color);
    border-radius: 50%;
    margin-right: 1.1rem;
}

.btn-friend-list {
    padding-top: 0.5rem;
}

.friend-list-me-container,
.btn-friend-container {
    transition: 0.2s;
    padding-left: 0.3rem;
    position: relative;
    margin-left: 1.5rem;
}

.friend-list-me-container:hover,
.middle-section-content .btn-friend-container:hover {
    background-color: var(--carrot-super-light);
}

.friend-list-me-container.colored,
.middle-section-content .btn-friend-container.colored {
    background-color: var(--carrot-super-light);
}

.btn-friend-container {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.btn-friend-list > .btn-friend-container:first-child {
    margin-top: 0rem;
}

.btn-friend-list .friend-hidden {
    display: none;
}

.btn-friend {
    /* padding: 1rem 2rem; */
    /* background-color: white; */
    display: flex;
    align-items: center;
    height: 3rem;
}

.btn-friend > .btn-friend-profile-img {
    width: 2.3rem;
    height: 2.3rem;
    border: 1px solid var(--font-color);
    border-radius: 50%;
    margin-right: 1rem;
}

.friend-list-me-container > div.more-icon,
.btn-friend > div.more-icon {
    position: absolute;
    right: 2rem;
    font-size: 1.5rem;
    height: 1rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    transition: 0.2s;
}

.friend-list-me-container > div.more-icon:hover,
.btn-friend > div.more-icon:hover {
    background-color: rgba(128, 128, 128, 0.162);
}

#star {
    position: absolute;
    right: 7rem;
    top: 1.1rem;
    color: var(--carrot-color);
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

#star.active {
    visibility: visible;
    opacity: 1;
}

.more-icon > i {
    opacity: 0;
    transition: 0.2s;
}

.more-form {
    height: 100%;
    width: 6.5rem;
    position: absolute;
    right: 0;
    background-color: var(--carrot-color);
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

.more-form.active {
    visibility: visible;
    opacity: 1;
}

.more-form > form {
    height: 100%;
    background-color: var(--carrot-light);
}

.more-form input {
    border: 0;
    color: var(--alt-fontclr);
    font-size: 0.9rem;
    width: 100%;
    height: 50%;
    background-color: transparent;
    transition: 0.2s;
}

.more-form input.me {
    height: 100%;
}

.more-form input:hover {
    background-color: var(--carrot-light-dark);
    background-color: var(--carrot-dark)
}



/* chat-name section */

.chat-name-container {
    display: flex;
    width: calc(100% - 18rem);
    height: 100%;
}

.orange-stick {
    height: 100%;
    width: 0.7rem;
    background-color: var(--orange-stick);
    border-radius: 0.8rem 0 0 0.8rem;
}

.chat-name-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 1rem);
}

.chat-name-content .chat-name-name {
    margin-left: 3rem;
    font-size: 1.5rem;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-name-content .chat-name-icons {
    margin-right: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.chat-name-icons > input {
    outline: none;
    width: 13rem;
    height: 2.5rem;
    border: 2px solid var(--section-bgclr);
    background-color: var(--carrot-super-light);
    border-radius: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: 0.2s;
    visibility: hidden;
    opacity: 0;
    caret-color: var(--font-color);
}

.chat-name-icons > input:focus {
    border: 2px solid var(--carrot-light);
}

.chat-name-icons > input.active {
    visibility: visible;
    opacity: 1;
}

.chat-name-icons > #chat-search-btn,
.chat-name-icons > #chat-member-add {
    font-size: 1.7rem;
    margin-left: 2rem;
    cursor: pointer;
}

.chat-name-icons > #chat-member-add {
    font-size: 2.5rem;
}

.chat-name-icons > i:last-child {
    font-size: 2rem;
    margin-left: 2rem;
    cursor: pointer;
}

.code-input {
    display: none;
    width: 80%;
    height: 100%;
    border-radius: 0.5rem;
}

.code-input.active {
    display: block;
    text-overflow: ;
}

.chat-input .input.inactive {
    display: none;
}


@media screen and (max-width: 768px) {
    #chat-member-add:active {
        color: var(--carrot-color);
    }
    #chat-setting:active {
        color: var(--carrot-color);
    }
}