@import 'style.css';

body {
  display: flex;
  justify-content: center;
  padding-top: 6rem;
  font-size: 1rem;
  margin: 0;
}
main {
  font-family: 'GowunBatang-Regular';
}

.boss-container {
  width: 81.5rem;
  display: flex;
  justify-content: center;
}
/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  width: 100%;
  padding-left: 6rem;
  padding-right: 6rem;
  border-bottom: 1px solid rgb(129, 129, 129);
  /* margin-bottom: 5rem; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  transition: 0.4s;
}

nav .nav-left {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

nav .nav-left img {
  object-fit: cover;
  width: 8rem;
}
nav.sticky {
  height: 4rem;
  background-color: rgba(255, 246, 235, 0.888);
  border-bottom: 0;
}


main {
  width: 40rem;
  height: calc(100vh - 6rem);
  color: black;
  padding-top: 4.5rem;
  display: flex;
  justify-content: center;
}

/* .start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.start-title {
  margin-bottom: 4rem;
}

.start-title > h1 {
  font-size: 4rem;
  line-height: 5.5rem;
  text-align: center;
}

.start-form p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.start-form a {
  display: block;
  width: 100%;
  height: 3rem;
  background-color: var(--carrot-color);
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),
  0 1px 1px rgba(0,0,0,0.15),
  0 3px 3px rgba(0,0,0,0.15),
  0 5px 5px rgba(0,0,0,0.15);
  letter-spacing: 2px;
  font-weight: 700;
  color: white;
}

.start-form a:hover {
  background-color: var(--carrot-dark);
}

.channel-container {
  margin-bottom: 3rem;
}

.channel-create {
  /* margin-bottom: 3rem; */
}


/* channel create page */

.start-container .channel-create {
  /* width: 80%; */
}

.channel-create-title {
  margin-bottom: 2rem;
}

.channel-create-title h1,
.channel-sent-title h1 {
  font-size: 3rem;
  text-align: center;
  line-height: 4rem;
}

.channel-create-form div {
  display: flex;
  flex-direction: column;
}

.channel-create-form label {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.channel-create-form input[type=text] {
  height: 3rem;
}

.channel-create-form input[type=text],
.channel-create-form textarea {
  outline: 0;
  border-radius: 0.3rem;
  border: 2px solid white;
  background-color: #face8326;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition: 0.2s;
  font-size: 1.2rem;
}

.channel-create-form textarea {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.channel-create-form input[type=text]:focus,
.channel-create-form textarea:focus {
  border: 2px solid var(--carrot-light);
}

.channel-create-form input[type=text]::placeholder,
.channel-create-form textarea::placeholder {
  color:rgba(174, 174, 174, 0.668);
}

.channel-create-form textarea::placeholder {
  letter-spacing: 0.01rem;
}

.channel-create-form input[type=submit],
.channel-code-form input[type=submit] {
  font-family: 'GowunBatang-Regular';
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  outline: 0;
  border: 0;
  background-color: var(--carrot-color);
  width: 100%;
  height: 3rem;
  margin-top: 2rem;
  border-radius: 0.3rem;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: 0.2s;
  color: white;
}

.channel-create-form input[type=submit]:hover,
.channel-code-form input[type=submit]:hover {
  background-color: var(--carrot-dark);
}

.channel-create-name {
  margin-bottom: 2rem;
}

.channel-code-form {
  margin-top: 3rem;
}

.channel-code-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.channel-code-input label {
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

.channel-code-input input[type=text] {
  outline: 0;
  border: 2px solid white;
  height: 2.3rem;
  border-radius: 1rem;
  background-color: var(--input-background);
  font-size: 1.1rem;
  padding-left: 0.7rem;
  padding-right: 0.5rem;
  transition: 0.2s;
}

.channel-code-input input[type=text]:focus {
  border: 2px solid var(--carrot-color);
}

.channel-code-input input[type=text]::placeholder {
  color: rgba(174, 174, 174, 0.668);
}

.channel-sent-title h1 {
  margin-bottom: 3rem;
}

.channel-sent-title .success-checkmark {
  margin-bottom: 2rem;
}

.channel-sent-title p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 3rem;
}

.home {
  margin: 2rem auto 0;
  height: 3rem;
  width: 6rem;
  display: block;
  background-color: var(--carrot-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  font-weight: 700;
  transition: 0.2s;
  color: white;
}

.home:hover {
  background-color: var(--carrot-dark);
  color: white;
}



/* 개설요청 전송 완료 애니메이션 */

.success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;
  
  .check-icon {
      width: 80px;
      height: 80px;
      position: relative;
      border-radius: 50%;
      box-sizing: content-box;
      border: 4px solid var(--carrot-color);
      
      &::before {
          top: 3px;
          left: -2px;
          width: 30px;
          transform-origin: 100% 50%;
          border-radius: 100px 0 0 100px;
      }
      
      &::after {
          top: 0;
          left: 30px;
          width: 60px;
          transform-origin: 0 50%;
          border-radius: 0 100px 100px 0;
          animation: rotate-circle 4.25s ease-in;
      }
      
      &::before, &::after {
          content: '';
          height: 100px;
          position: absolute;
          background: #FFFFFF;
          transform: rotate(-45deg);
      }
      
      .icon-line {
          height: 5px;
          background-color: var(--carrot-color);
          display: block;
          border-radius: 2px;
          position: absolute;
          z-index: 10;
          
          &.line-tip {
              top: 46px;
              left: 14px;
              width: 25px;
              transform: rotate(45deg);
              animation: icon-line-tip 0.75s;
          }
          
          &.line-long {
              top: 38px;
              right: 8px;
              width: 47px;
              transform: rotate(-45deg);
              animation: icon-line-long 0.75s;
          }
      }
      
      .icon-circle {
          top: -4px;
          left: -4px;
          z-index: 10;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          position: absolute;
          box-sizing: content-box;
          border: 4px solid #face83aa;
      }
      
      .icon-fix {
          top: 8px;
          width: 5px;
          left: 26px;
          z-index: 1;
          height: 85px;
          position: absolute;
          transform: rotate(-45deg);
          background-color: #FFFFFF;
      }
  }
}

@keyframes rotate-circle {
  0% {
      transform: rotate(-45deg);
  }
  5% {
      transform: rotate(-45deg);
  }
  12% {
      transform: rotate(-405deg);
  }
  100% {
      transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
      width: 0;
      left: 1px;
      top: 19px;
  }
  54% {
      width: 0;
      left: 1px;
      top: 19px;
  }
  70% {
      width: 50px;
      left: -8px;
      top: 37px;
  }
  84% {
      width: 17px;
      left: 21px;
      top: 48px;
  }
  100% {
      width: 25px;
      left: 14px;
      top: 45px;
  }
}

@keyframes icon-line-long {
  0% {
      width: 0;
      right: 46px;
      top: 54px;
  }
  65% {
      width: 0;
      right: 46px;
      top: 54px;
  }
  84% {
      width: 55px;
      right: 0px;
      top: 35px;
  }
  100% {
      width: 47px;
      right: 8px;
      top: 38px;
  }
}

/* sign-up */

.assgin-container {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 46rem;
  height: 95%;
  border-top: 4px solid var(--carrot-dark);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
  0 2px 2px rgba(0,0,0,0.15), 
  0 4px 4px rgba(0,0,0,0.15), 
  0 8px 8px rgba(0,0,0,0.15);
}

/* .form-group > label {
  display: block;
  width: 200px;
  text-align: center;
  margin-bottom: 1rem;
} */

/* input,
button{
	border:none;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
  box-shadow: none;
} */

#username, #password1, #password2, #phone_number, #input_authnum, #userid  {
  border: none; 
  outline: none;
}

table td {
  width: 50%;
  height: 3.7rem;
  font-size: 1.2rem;
}

table input {
  width: 10rem;
  height: 2rem;
  font-size: 1rem;  
  background-color: rgba(255, 140, 0, 0.04);
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
/* 
table input:focus {
  border: none;
  box-shadow: none;
  border: 2px solid var(--carrot-light);  
} */
#username:focus, #password1:focus, #password2:focus, #phone_number:focus, #input_authnum:focus, #userid:focus {
  border: 2px solid var(--carrot-light);  
  border-radius: 1rem; 
  transition: .2s;
}

#input_sms {
  visibility: hidden;
}

table button {
  border-radius: 2rem;
  margin-top: 0.5rem;
  border: none;
  box-shadow: none;
  background-color: var(--carrot-light);
  padding: 0.5rem;
  width: 6rem;
}


#signup_button {
  width: 12rem;
  padding: 0.5rem;
  border: none;
  border-radius: 2rem;
  background-color: var(--carrot-light);
  margin-top: 3rem;
  font-size: 1rem;
}

.time-limit-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#time_limit {
  font-size: 1rem;
  margin-top: 0.4rem;
}

.auth-btn-active {
  background-color: var(--carrot-color);
  border: none;
  outline: 0;
  color:white;  
}

#send_sms{
  float: right;
}

#input_authnum {
  margin-top: 1rem;
}

.assgin-header {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 768px) {
  .assgin-container {
    padding: 3rem 3rem;
    width: 20rem;
  } 
  main {
    width: 20rem;
  }
  table td {
    font-size: 1rem;
  }
  table input {
    width: 7rem;
    font-size: 1rem;
  }
  #send_sms {
    width: 6rem;
  }
  table button {
    width: 4rem;
    font-size: 0.5rem;
  }
  #signup_button {
    width: 15rem;
  }
  #time_limit {
    font-size: 0.8rem;
  }
}