@import 'reset.css';

:root {
  --carrot-color: #fba405;
  --carrot-light: #face83;
  --carrot-dark: #fb9005;
  --light-gray: #f0f0f0;
  --subtitle: #a3a3a3;

}

@font-face {
  font-family: 'GowunBatang-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}
