.unregister-container h1 {
    font-size: 2rem;
}

.unregister-container div {
    font-size: 1rem;
}

.unregister-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.unregister-title {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
form label {
    font-size: 1rem;
}

button {
    border-radius: 1rem;
    border: none;
    box-shadow: none;
    background-color: var(--carrot-light);
    padding: 0 2rem;    
    height: 2.5rem;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15),
    0 1px 1px rgba(0,0,0,0.15),
    0 2px 2px rgba(0,0,0,0.15),
    0 2px 2px rgba(0,0,0,0.15);
}