h1 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}
.unregister-title {
    margin-bottom: 1rem;
}

.unregister-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
   
}
.unregister-main-container {
    text-align: center;
}

.unregister-title {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
form label {
    font-size: 1rem;
}

button {
    border-radius: 1rem;
    border: none;
    box-shadow: none;
    background-color: var(--carrot-light);
    padding: 0 2rem;    
    height: 2.5rem;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15),
    0 1px 1px rgba(0,0,0,0.15),
    0 2px 2px rgba(0,0,0,0.15),
    0 2px 2px rgba(0,0,0,0.15);
}
button:hover {
    background-color: var(--carrot-color);
}

.unregister-main-button {
    border-radius: 1rem;
    border: none;
    box-shadow: none;
    background-color: var(--carrot-light);
    padding: 0 2rem;   
    margin-top: 2rem; 
    height: 2.5rem;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15),
    0 1px 1px rgba(0,0,0,0.15),
    0 2px 2px rgba(0,0,0,0.15),
    0 2px 2px rgba(0,0,0,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    margin-top: 1rem;
}

table input {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    height: 2.5rem;
    border-radius: 1rem;
    background-color: rgba(255, 140, 0, 0.04);
    border: none;
    width: 100%;

}

table td{
    padding: 0 0.5rem 0.8rem 0.5rem;
}

#userID, #userPW {
    outline: none;
}
#userID:focus, #userPW:focus {
    border: 2px solid var(--carrot-light);
    border-radius: 1rem;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.3rem;
    }
}