.modal::backdrop {
  background: gray;
  opacity: 0.4;
}

.modal {
  width: 30rem;
  height: 36rem;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
  0 2px 2px rgba(0,0,0,0.15), 
  0 4px 4px rgba(0,0,0,0.15), 
  0 8px 8px rgba(0,0,0,0.15);
  padding: 3rem;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content > i {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2rem;
  color: var(--subtitle);
  transition: 0.2s;
  cursor: pointer;
}


.invite-list {
  height: 15rem;
  border: 1px solid black;
  overflow-x: hidden;
  overflow-y: scroll;
}

.modal-content > i:hover {
  color: gray;
}

dialog {
  transition: 0.3s;
}