<div class="friend-list-me">
    <div class="friend-list-me-container">
        <div class="friend-list-me-profile-img">
            <img src="{{ myPassInfo.join_set.first.user.profile_img }}" alt="">
        </div>
        <label for="">{{ myPassInfo }}</label>
        <div class="more-icon">
            <i id="more" class="ri-more-fill"></i>
        </div>
        <div class="more-form">
            <form action="/room/create_room/{{ channel.id }}/{{ myPassInfo.join_set.first.user.id }}/" method="post">
                {% csrf_token %}
                <input class="me" type="submit" value="1:1 채팅하기"></input>
            </form>
        </div>
    </div>
</div>

<ol class="btn-friend-list">
    {% for friend in myFriends %}
    <li class="btn-friend-container friend-container">
        <div class="btn-friend">
            <div class="btn-friend-profile-img">
                <img src="{{ friend.join_set.first.user.profile_img }}" alt="">
            </div>
            <label for="">{{ friend }}</label>
            <i id="star" class="ri-star-fill"></i>
            <div class="more-icon">
                <i id="more" class="ri-more-fill"></i>
            </div>
            <div class="more-form">
                <form action="/room/create_room/{{ channel.id }}/{{ friend.join_set.first.user.id }}/" method="post">
                    {% csrf_token %}
                    <input id="bookmark" type="button" value="즐겨찾기"></input>
                    <input type="submit" value="1:1 채팅하기"></input>
                </form>
            </div>
        </div>
    </li>
    {% endfor %}
</ol>