{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="chat-name">
    <div class="chat-name-container">
        <div class="orange-stick">
        </div>
        <div class="chat-name-content">
            <div class="chat-name-name">
                {{ title }}
            </div>
            <div class="chat-name-icons">
                <input id="chat-name-search" type="text">
                <i id="chat-search-btn" class="fa-solid fa-magnifying-glass"></i>
                <i class="ri-settings-3-line"></i>
            </div>
        </div>
    </div>
</div>
<div class="chat-container">
    <div class="chat-conversation-container">
        <div class="conversation"></div>
        <div class="chat-input">
            <textarea name="msg" id="" class="input" cols="30" rows="2"></textarea>
            <!-- <input type="text" class="input" onkeypress="if(event.keyCode==13) {onClickSendMessage('{{ user }}', '{{ room.id }}');}"> -->
            <button type="button" class='btn-send' onclick="onClickSendMessage('{{ user }}', '{{ room.id }}')">SEND</button>
        </div>
    </div>
    <div class="board-container">
        <div class="board"></div>
        <div class="post-input">
            <input type="text" class="post">
            <button type="button" onclick="onClickSendPost('{{ user }}', '{{ room.id }}')">작성</button>
        </div>
    </div>
</div>


{% endblock %}

{% block extra %}

<script>    
    // js에서 필요한 정보
    let curUsername = '{{ user }}'; // admin
    let curUserId = '{{ user.id }}'; // object(1)
    let curChannelId = {{ channel.id }};
    let curRoomId = {{ room.id }};
    let curRoomType = {{ room.room_type }};

    // 말풍선을 담을 곳
    let conversations = document.querySelector('.conversation');


    let postList = [];
    if(`{{ jsonPosts | safe}}` !== '') {
        let jsonPosts = {{jsonPosts | safe}};
        
        jsonPosts.forEach(element => {
            postid = element['id']
            postList.push(element);
        });
    }

    // 게시글을 담을 곳
    let posts = document.querySelector('.board');
</script>

<script src="{% static 'js/chat/room.js' %}"></script>
<script src="{% static 'js/chat/bubble.js' %}"></script>
<script src="{% static 'js/chat/post.js' %}"></script>
<script src="{% static 'js/chat/socketClient.js' %}"></script>

{% endblock %}